<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Date of Birth</th>
    <th scope="col">Date of Death</th>
    <th scope="col">Father</th>
    <th scope="col">Mother</th>
    <th scope="col">Son</th>
    <th scope="col">Father Age at Birth</th>
    <th scope="col">Lived till</th>
    <th scope="col">Total</th>
    <th scope="col">Reference</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let member of dataSource">
    <th scope="row">{{ member.id }}</th>
    <td>{{ member.name }}</td>
    <td>{{ member.dob }}</td>
    <td>{{ member.dod }}</td>
    <td>{{ member.father }}</td>
    <td>{{ member.mother }}</td>
    <td>{{ member.son }}</td>
    <td>{{ member.father_age_at_birth }}</td>
    <td>{{ member.continue_to_live_till }}</td>
    <td>{{ member.continue_to_live_till + member.father_age_at_birth }}</td>
    <td>{{ member.yr_of_death_refer }}</td>
    <td>
        <button class="btn btn-success mr-1">Edit</button>
        <button class="btn btn-danger" type="reset">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
